
*.class

dist/web-files/

Tournament\.dat

Tournament\.txt

build/built-jar\.properties

dist/Progeksamen\.html

dist/Progeksamen\.jar

dist/Progeksamen\.jnlp
dist/run1124603910/Progeksamen.jar

dist/

nbproject/
